body {
    overflow: hidden;
}

body *:not(.backround) {
    position: relative;

    z-index: 1;

    order: 1;
}

.backround {
    order: 2;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.bigger {

    font-size: 72px;

}

body .casewho,
body .boom {
    position: absolute;
    left: 250px;
    top: calc(65% - 110px);

}

body .boom:not(.active) {
    display: none;
}

.casewho {
    width: 100px;
    height: auto;
    transition: top 500ms ease-in-out;
}

.encounter {
    height: 60px;
    width: 60px;


}

body .food,
body .gym-equipment {
    position: absolute;
    left: 900px;
    top: calc(65% - 60px);
}

body .food *:not(.active),
body .gym-equipment *:not(.active) {
    display: none;
}